* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.main-content{
  width:100%;
  display:grid;
  position:static;
}

.head{
  color:#2c3e50;
  font-style: italic;
  margin-top: 30px;
  justify-items: center;
  justify-content: center;
  display:grid;
  font-size: 50px;
}

.game-content{
  padding-top:40px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
  color: #fff;
  border-radius: 10px;	
	display: grid;
	grid-template-rows: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
}

.box{
  border: 5px solid #2c3e50;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result{
  display:grid;
  justify-content: center;
  justify-items: center;
  border-radius: 5px;
  font-size: large;
}